// IMPORTS

@import "font";
@import "variables";


// HIGH-LEVEL RESETS

html {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  background-color: $white;
}

.container {
  margin:0 $marginLarge;
}

.featured-img {
  margin: 0px auto;
  text-align: center;
}
.featured-img img {
  max-width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
}

.full-bleed, .asset-container {
  margin: 24px (-$marginLarge);
  text-align: center;
}

.asset-container {
  em {
    display: block;
    clear: both;
    text-align: center;
    margin-left: auto; 
    margin-right: auto; 
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

// STANDARD ELEMENTS

h1, h2, h3, h4, h5, h6 {
  @include headingFont;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 26px; }
h4 { font-size: 24px; }
h5 { font-size: 22px; }
h6 { font-size: 20px; }

hr {
  border: 0;
  height: 1px;
  margin: $marginMedium 0;
  background: shade($cream, 10%);
  background-image: -webkit-linear-gradient(left, $cream, shade($cream, 20%), $cream); 
}

blockquote {
  margin: $marginMedium ($marginSmall*2);
  padding-left: ($marginSmall*2);
  border-left: 4px solid $cream;
  font-style: italic;
}

a, a:hover, a:active, a:visited, a:focus {
  color: $linkColor;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a:active {
  color: shade($linkColor, 20%);
}
.article-body {
  @include bodyFont(400);
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  & > p:first-child {
    font-size: 120%;
    line-height: ($baseLineHeight * 1.2);
    &:first-letter {    
      color: $cream;
      @include bodyFontFamily;
      font-size: 300%;
      float: left; 
      margin: 0px 4px 0 2px;
      padding: 0;
      line-height: 1;
    }
  }
}

.article-title {
	text-transform: uppercase;
}

.header, .article-body, .footer, .asset-container, .ad-block  {
  img, iframe {
    max-width: 100%;
  }
}

.article-body img {
	text-align: center;
	margin: 24px auto;
}

// SLIDESHOW 

// #slides {
// 	width: 100%;
// 	img {
// 		max-width: 100%;
// 	}
// }
.slidesjs-previous, .slidesjs-next {
  display: none;
}
.slidesjs-pagination {
    list-style: none;
    margin: $marginSmall auto;
    padding:0;
    li {
      display: inline-block;
      margin: 8px;
      a {
        display: inline-block;        
        @include headingFontFamilyAlt;        
        text-decoration: none;        
        border-radius: 999px;
        text-align: center;
        vertical-align: middle;
        min-width: 44px;
        line-height: 44px;
        background-color: $linkColor;
        color: $white;        
        &:active, &.active {
          background-color: shade($linkColor, 20%);
        }
      }
    }
}

// HEADER
.navbar {
  background-color: $cream;
  margin: 0;
  padding: 0;
  height: 44px;  
}
.article-type {
  margin: $marginMedium 0;
  color: $gray;  
  text-align: center;
  @include bodyFont(400);
  font-size: 24px;
  font-style: italic;  
}

.article-title {
  @include headingFontFamilyAlt;
  font-size: 64px;
  color: $black;
  line-height: 1;
  text-transform: uppercase;
  margin: $marginMedium 0 $marginSmall;
  text-align: center;
}
.article-subtitle {
  // @include headingFontFamilyAlt;
  @include bodyFont(400);
  font-style: italic;
  font-size: 36px;
  line-height: 1;
  color: $gray;
  margin: $marginSmall 0;
  text-align: center;  
  // text-transform: uppercase;
}
.author-name {
  display: block;
  text-decoration: none;
  @include headingFontFamilyAlt;
  text-transform: uppercase;
  margin: $marginMedium 0 $marginLarge;
  padding: 0;
  font-size: 20px;
  line-height: 1;
  border-top: 1px solid $cream;
  color: $black !important;
  text-align: center;
  span {
    background-color: $white;
    position: relative;
    padding: 0 20px;
    top: -12px;
    margin: $marginLarge;
  }
}

// VIDEO

.markdown-video {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.markdown-video iframe,  
.markdown-video object,  
.markdown-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


// FOOTNOTES

.footnote {
  color: $white;
  background-color: $linkColor;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  display: inline-block;
  border-radius: 999px;
  min-width: 20px;
  text-align: center;
  text-decoration: none;
  @include headingFont;
  margin: 0 2px;
}

// PULLQUOTE

.pullquote  {
  @include headingFont;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  border: 0;
  border-top:1px solid $cream;
  border-bottom:1px solid $cream;
  padding: $marginMedium ($marginSmall * 2);
  margin: $marginMedium 0;
  blockquote {
    border: 0;
  }
}

// ENDNOTE

.endnote {
  text-align: center;
  margin: $marginMedium auto;
  padding: $marginMedium auto;
  &:before {
    content: "♦♦♦";
    color: $cream;
  }
}


// ADVERTISEMENT

.ad-block {
  margin: $marginMedium auto;
  padding: $marginMedium 0;
  text-align: center;

}

// FOOTER

.footer {
  background-color: $cream;
  margin: $marginLarge auto 0px;
  padding: $marginMedium;
}
.footer .author-img {
  max-width: 200px;
  float: left;
  margin: 0 $marginMedium $marginMedium 0;
}

.footer .author-name {
  @include headingFontFamilyAlt;
  margin: $marginSmall 0;
  text-align: left;
}

.footer .author-bio {
  line-height: 1.2;
  @include bodyFont(400);
}

// .back-to-top {
//   display: block;
//   padding: $marginSmall 0;
//   background-color: $linkColor;
//   color: $white;

// }
// SOCIAL ICONS

.ss-icon, .ss-icon.ss-social-regular,
[class^="ss-"]:before, [class*=" ss-"]:before,
[class^="ss-"].ss-social-regular:before, [class*=" ss-"].ss-social-regular:before,
[class^="ss-"].right:after, [class*=" ss-"].right:after,
[class^="ss-"].ss-social-regular.right:after, [class*=" ss-"].ss-social-regular.right:after {
  font-family: "SSSocialRegular";
  font-size: 24px;
  line-height: 0;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
}

[class^="ss-"].right:before,
[class*=" ss-"].right:before{display:none;content:'';}

.ss-facebook:before,.ss-facebook.right:after{content:''}.ss-twitter:before,.ss-twitter.right:after{content:''}.ss-linkedin:before,.ss-linkedin.right:after{content:''}.ss-googleplus:before,.ss-googleplus.right:after{content:''}.ss-appdotnet:before,.ss-appdotnet.right:after{content:''}.ss-zerply:before,.ss-zerply.right:after{content:''}.ss-reddit:before,.ss-reddit.right:after{content:''}.ss-steam:before,.ss-steam.right:after{content:''}.ss-tumblr:before,.ss-tumblr.right:after{content:''}.ss-wordpress:before,.ss-wordpress.right:after{content:''}.ss-blogger:before,.ss-blogger.right:after{content:''}.ss-posterous:before,.ss-posterous.right:after{content:''}.ss-quora:before,.ss-quora.right:after{content:''}.ss-youtube:before,.ss-youtube.right:after{content:''}.ss-vimeo:before,.ss-vimeo.right:after{content:''}.ss-vine:before,.ss-vine.right:after{content:''}.ss-letterboxd:before,.ss-letterboxd.right:after{content:''}.ss-flickr:before,.ss-flickr.right:after{content:''}.ss-instagram:before,.ss-instagram.right:after{content:''}.ss-500px:before,.ss-500px.right:after{content:''}.ss-etsy:before,.ss-etsy.right:after{content:''}.ss-pinterest:before,.ss-pinterest.right:after{content:''}.ss-svpply:before,.ss-svpply.right:after{content:''}.ss-readmill:before,.ss-readmill.right:after{content:''}.ss-dropbox:before,.ss-dropbox.right:after{content:''}.ss-pinboard:before,.ss-pinboard.right:after{content:''}.ss-delicious:before,.ss-delicious.right:after{content:''}.ss-dribbble:before,.ss-dribbble.right:after{content:''}.ss-behance:before,.ss-behance.right:after{content:''}.ss-github:before,.ss-github.right:after{content:''}.ss-octocat:before,.ss-octocat.right:after{content:''}.ss-stackoverflow:before,.ss-stackoverflow.right:after{content:''}.ss-paypal:before,.ss-paypal.right:after{content:''}.ss-kickstarter:before,.ss-kickstarter.right:after{content:''}.ss-foursquare:before,.ss-foursquare.right:after{content:''}.ss-yelp:before,.ss-yelp.right:after{content:''}.ss-skype:before,.ss-skype.right:after{content:''}.ss-rdio:before,.ss-rdio.right:after{content:''}.ss-spotify:before,.ss-spotify.right:after{content:''}.ss-lastfm:before,.ss-lastfm.right:after{content:''}.ss-soundcloud:before,.ss-soundcloud.right:after{content:''}.ss-link:before,.ss-link.right:after{content:'🔗'}.ss-phone:before,.ss-phone.right:after{content:'📞'}.ss-mail:before,.ss-mail.right:after{content:'✉'}.ss-like:before,.ss-like.right:after{content:'👍'}.ss-rss:before,.ss-rss.right:after{content:''}.ss-share:before,.ss-share.right:after{content:''}.ss-apple:before,.ss-apple.right:after{content:''}.ss-microsoft:before,.ss-microsoft.right:after{content:''}.ss-windows:before,.ss-windows.right:after{content:''}.ss-android:before,.ss-android.right:after{content:''}.ss-blackberry:before,.ss-blackberry.right:after{content:''}

a.ss-icon {
  text-decoration: none;
}
a.ss-icon.ss-link { color: $linkColor; }
a.ss-icon.ss-twitter { color: #00bff7; }
a.ss-icon.ss-facebook { color: #385a98; }
a.ss-icon.ss-appdotnet { color: #90cb6f; }


.author-social  {
  list-style: none;
  margin: $marginSmall auto $marginSmall;
  padding: 0;
}
.author-social li {
  list-style: none; 
  display: inline-block;
  margin-right: 4px;   
  &:last-child {
    margin-right: 0px;
  }
}
.author-social li a {
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 12px;  
}




/*
	MEDIA QUERIES
*/

@media only screen and (min-device-width : 1px) and (max-device-width : 479px) {

  .full-bleed, .asset-container {
    margin: 24px (-$marginSmall);
  }
  .container {
    margin:0 $marginSmall;
  }
  .footer {
    margin: $marginMedium auto 0px;
    padding: $marginMedium $marginSmall;
    text-align: center;
  }
  .author-img {
    float: none;
    margin:0 auto;
  }

  // Header

  .article-type {
    font-size: 18px;
  }
  .article-title {
    font-size: 32px;
  }
  .article-subtitle {
    font-size: 24px;
  }
  .author-name {
    margin: $marginMedium 0;
    font-size: 18px;
    span {
      padding: 0 8px;
      top: -11px;
      margin: $marginSmall;
    }
  }  

  // Footer

  .footer .author-img {
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
    float: none;
    display: block;

  }
  .footer .author-name {
    text-align: center;
  }


}



@media only screen and (min-device-width : 480px) and (max-device-width : 768px) {

  /* iPad Portrait */


}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */

  body {
    background-size: 72px 72px;
  }

}